.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(15, 80, 184);
    margin: auto;
}

.home-page-container p {
    margin-bottom: 40px;
    font-size: 20px;
 }

.home-page-container img {
    height: 100px;
 }
