.input-action-bar {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    margin: 20px auto;
}

.container-invalid {
    width: 40vw;
    text-align: end;
}

.form-control {
    margin-top: 20px;
    max-width: 40vw;
}

.input-button {
    box-shadow: #332c36 3px 3px;
    cursor: pointer;
    margin: 20px auto;
}